/* 모든 페이지에 공통으로 들어가는 스타일 (header/footer) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

html, body {
    color: #3d3d3d;
    line-height: 1.5;
    font-family: "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어별 줄바꿈 */
}
#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 320px;
}
/* 컨텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    /*
        1400px 이하부터 320px까지 모든 사이즈 반응형
        1400px일 때에도 좌우에 여백은 유지해야 함
        (1400 이상에서 1400px 이하로 변경되는 점 - 반응형으로 전환되는 점)
        부드럽게 여백을 유지하면서 전환
        원래 좌우에 여백이 20px씩 들어가 있는걸로 스타일을 줌
        1400px이 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1440px이 넓이
        padding으로 좌우에 여백을 20px씩 줌
    */
}

@media screen and (max-width:1000px){
    html, body {
       font-size: 14px;
    }
}

@media screen and (max-width:640px){
    /* 640px 이하의 디바이스에서만 아래 css가 적용
      pc에서는 1280px이라는 콘텐츠 고정 넓이가 존재했지만
      모바일에서는 디바이스 넓이에 맞춰서 꽉차게 구현
      구현방식이 달라서 고정값을 모두 삭제 */
    html, body {
        font-size: 13px;
    }
} /* media 종료 */

.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/*
    wrapper와 동일한 사이즈를 갖은 position: relative를 요소는
    cnt_wrap 클래스를 줌
*/
.cnt_wrap {
    position: relative;
}

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000000;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #004E9F;
    color: #ffffff;
    text-align: center;
}
.skip_nav a:focus {
    top: 0;
}

/*
    브라우저에서 글자를 드래그했을 때 드래그한 영역의 색과 글자색
    -moz- -webkit- 이 앞에 붙은 속성은 표준화되지 않은 속성
*/
::selection{background:#ED1B2D;color:#fff;}
::-moz-selection{background:#ED1B2D;color:#fff;}
::-webkit-selection{background:#ED1B2D;color:#fff;} 

.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.header .logo {
    float: left;
    margin: 21px 0 0 60px;
}
.header .logo a {
    display: block;
    width: 220px;
    height: 45px;
    background-image: url(../images/common/logo_w.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    line-height: 0;
}
.header .gnb {
    float: right;
    margin: 0 40px 0 0;
}
.header .gnb .gnb_open {
    display: none;
}
.header .gnb ul li {
    float: left;
}
.header .gnb ul li a {
    display: block;
    padding: 0 42px;
    font-size: 25px;
    line-height: 100px; /* header의 높이값, 글자를 위아래 가운데 배치하기 위해 */
}

/* header가 고정일 때 */
.header.black {
    border-bottom: 1px solid #cccccc;
    /* background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
    color: #1d1d1d;
}
.header.black .logo a {
    background-image: url(../images/common/logo.svg);
}

/*
    1440 - 
    1200 - 
    1000 - 
    800 - 
    640 - 
*/
@media screen and (max-width:1200px){
    .header .gnb ul li a {
        padding: 0 30px;
        font-size: 20px;
    }
}

@media screen and (max-width:800px){
    .header {
        height: 60px;
    }
    .header .logo {
        margin: 15px 0 0 20px;
    }
    .header .logo a {
        width: 128px;
        height: 26px;
    }
    .header .gnb {
        margin: 0;
    }
    .header .gnb .gnb_open {
        display: block;
        padding: 22px 20px 18px 20px;
    }
    .header .gnb .gnb_open span {
        display: block;
        width: 20px;
        height: 2px;
        margin-bottom: 4px;
        border-radius: 1px; /* 높이의 절반 */
        background-color: #ffffff;
        font-size: 0;
        line-height: 0;

    }
    .header .gnb ul {
        display: none;
    }
    .header.black .gnb .gnb_open span {
        background-color: #1d1d1d;
    }
}

@media screen and (max-width:640px){
    .header.fixed {
        border-bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .header.fixed .logo a,
    .header.fixed.black .logo a {
        background-image: url(../images/common/logo.svg);
    }
    .header.fixed .gnb .gnb_open span,
    .header.fixed.black .gnb .gnb_open span {
        background-color: #1d1d1d;
    }
}

.footer {
    border-top: 1px solid #cccccc;
}
.footer .fnav {
    float: right;
    margin: 42px 0 87px 0;
}
.footer .fnav li a {
    display: block;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    text-align: right;
}
.footer .inner {
    float: left;
    margin: 57px 0 0 0;
}
.footer .flogo {
    width: 90px;
    height: 95px;
    background-image: url(../images/common/logo.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 95px;;
}
.footer .copyright {
    margin: 20px 0 0 0;
    color: #666666;
}

@media screen and (max-width:1000px){
    .footer .fnav li a {
        font-size: 25px;
    }
    .footer .flogo {
        width: 70px;
        height: 75px;
        background-size: auto 75px;;
    }
}

@media screen and (max-width:640px){
    .footer .fnav {
        float: none;
        margin: 60px 0 40px 0;
    }
    .footer .fnav li a {
        font-size: 20px;
    }
    .footer .inner {
        float: none;
        margin: 0;
    }
    .footer .flogo {
        display: none;
    }
    .footer .copyright {
        margin: 0 0 93px 0;
        text-align: right;
    }
}