@import url(default.css);
@import url(common.css);

.visual {
    position: relative;
    height: 900px;
    background: url(../images/main/visual_bg.png) no-repeat center center / cover;
}
.visual h2 {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 250px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 50px;
    color: #fff;
    text-align: center;
}
.visual .inner ul {
    position: relative;
    z-index: 10;
    float: left;
    padding: 100px 0 0 0;
}
.visual .inner ul li {
    display: block;
}
.visual .inner ul li a {
    display: inline-block;
    transition: all 0.5s ease-in-out;
}
.visual .inner ul li a .pic {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 0 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}
.visual .inner ul li a .pic img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .inner ul li a strong {
    font-family: "Noto Sans KR";
    transition: all 0.5s ease-in-out;
}
.visual .inner ul:nth-child(1) li:nth-child(1) {
    margin: 45px 0 60px 60px;
}
.visual .inner ul:nth-child(1) li:nth-child(1) a .pic {
    width: 315px;
    height: 350px;
}
.visual .inner ul:nth-child(1) li:nth-child(2) {
    margin: 0 0 0 165px;
}
.visual .inner ul:nth-child(1) li:nth-child(2) a .pic {
    width: 270px;
    height: 210px;
}
.visual .inner ul:nth-child(2) {
    margin: 0 175px 0 125px;
}
.visual .inner ul:nth-child(2) li {
    margin: 165px 0 0 0;
}
.visual .inner ul:nth-child(2) li a .pic {
    width: 360px;
    height: 380px;
}
.visual .inner ul:nth-child(3) li:nth-child(1) {
    margin: 82px 0 0 0;
}
.visual .inner ul:nth-child(3) li:nth-child(1) a .pic {
    width: 205px;
    height: 235px;
}
.visual .inner ul:nth-child(3) li:nth-child(2) {
    margin: 44px 0 0 0;
}
.visual .inner ul:nth-child(3) li:nth-child(2) a .pic {
    width: 200px;
    height: 230px;
}
.visual .inner ul li a:hover {
    transform: translate(0, -20px);
}
.visual .inner ul li a:hover .pic {
    opacity: 1;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.visual .inner ul li a:hover strong {
    color: #1d1d1d;
}

@media screen and (max-width:640px){
    .visual {
        height: 930px;
    }
    .visual h2 {
        width: 100%;
        left: 50%;
        top: 80px;
        transform: translate(-50%, 0);
        font-size: 40px;
        letter-spacing: 0;
    }
    .visual .inner ul li {
        display: block;
    }
    .visual .inner ul li a {
        display: block;
        width: auto;
        height: 100px;
    }
    .visual .inner ul li a .pic {
        margin: 0;
        opacity: 1;
    }
    .visual .inner ul:nth-child(1) {
        float: none;
        padding: 130px 0 0 0;
    }
    .visual .inner ul:nth-child(1) li:nth-child(1) {
        margin: 30px 0 0 0;
    }
    .visual .inner ul:nth-child(1) li:nth-child(1) a .pic {
        width: 100%;
        height: 100%;
    }
    .visual .inner ul:nth-child(1) li:nth-child(1) a strong {
        display: block;
        text-align: right;
    }
    .visual .inner ul:nth-child(1) li:nth-child(2) {
        margin: 50px 0 0 0;
    }
    .visual .inner ul:nth-child(1) li:nth-child(2) a .pic {
        width: 100%;
        height: 100%;
    }
    .visual .inner ul:nth-child(2),
    .visual .inner ul:nth-child(3) {
        padding-top: 20px;
        margin-top: 30px;
    }
    .visual .inner ul:nth-child(2) {
        float: none;
        padding-top: 50px;
        margin: 0;
    }
    .visual .inner ul:nth-child(2) li {
        margin: 0;
    }
    .visual .inner ul:nth-child(2) li a .pic {
        width: 100%;
        height: 100%;
    }
    .visual .inner ul:nth-child(2) li a strong {
        display: block;
        text-align: right;
    }
    .visual .inner ul:nth-child(3) {
        float: none;
    }
    .visual .inner ul:nth-child(3) li:nth-child(1) {
        margin: 0;
    }
    .visual .inner ul:nth-child(3) li:nth-child(1) a .pic {
        width: 100%;
        height: 100%;
    }
    .visual .inner ul:nth-child(3) li:nth-child(2) {
        margin-top: 50px;
    }
    .visual .inner ul:nth-child(3) li:nth-child(2) a .pic {
        width: 100%;
        height: 100%;
    }
    .visual .inner ul:nth-child(3) li:nth-child(2) a strong {
        display: block;
        text-align: right;
    }
}

.intro {
    padding: 70px 0 0 130px;
    height: 680px;
    background-color: #FDFAF4;
}
.intro .inner {
    height: 530px;
    border-bottom: 1px solid rgba(192,190,186, 0.5);
}
.intro .inner h2 {
    position: relative;
    float: left;
    margin:  0 100px 0 0;
    font-size: 70px;
}
.intro .inner h2::after {
    position: absolute;
    left: 255px;
    top: 40px;
    width: 1px;
    height: 30px;
    background-color: #707070;
    content: "";
}
.intro .inner .intro_sub {
    float: left;
    margin: 15px 0 0 0;
}
.intro .inner .intro_sub strong {
    font-size: 50px;
    color: #868475;
}
.intro .inner .intro_sub span {
    display: block;
    margin: 30px 0;
    font-size: 25px;
    color: #868475;
}
.intro .inner .intro_sub p {
    font-size: 25px;
    line-height: 3;
}
.intro .inner .intro_sub p .pc_no {
    display: none;
}

@media screen and (max-width:640px){
    .intro {
        padding: 20px 0 50px 0;
        height: 420px;
    }
    .intro .inner {
        height: 0;
        border-bottom: 0;
    }
    .intro .inner h2 {
        float: none;
        margin:  0 ;
        font-size: 50px;
        text-align: center;
    }
    .intro .inner h2::after {
        display: none;
    }
    .intro .inner .intro_sub {
        float: none;
        margin: 0;
    }
    .intro .inner .intro_sub strong {
        display: none;
    }
    .intro .inner .intro_sub span {
        margin: 10px 0 20px 0;
        font-size: 15px;
        text-align: center;
    }
    .intro .inner .intro_sub p {
        font-size: 13px;
        line-height: 2.5;
    }
    .intro .inner .intro_sub p .pc_no {
        display: block;
    }
}

.book {
    padding: 70px 0 100px 0;
}
.book h2 {
    margin: 0 0 64px 0;
    font-size: 70px;
    text-align: center;
}
.book .swiper {
    width: 100%;
    height: 100%;
  }
.book .swiper .swiper-slide {
    width: 300px;
    text-align: center;
    font-size: 25px;
    /* background: #fff; */
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.book .swiper .swiper-slide a .pic {
    display: block;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border: 1px solid #ededed;
}
.book .swiper .swiper-slide a .pic img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.book .book_intro ul li a strong {
    display: block;
    margin: 10px 0;
}
.book .book_intro ul li a span {
    display: block;
    font-size: 15px;
    font-weight: 400;
    font-family: "Noto Sans KR";
}
.book .book_intro .intro_bot {
    display: block;
    margin: 60px 0 0 0;
    text-align: center;
}
.book .book_intro .intro_bot .btn {
    position: relative;
    display: inline-block;
    margin: 0 0 30px 0;
}
.book .book_intro .intro_bot .btn .btn_prev,
.book .book_intro .intro_bot .btn .btn_next {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
}
.book .book_intro .intro_bot .btn .btn_prev {
    right: 15px;
}
.book .book_intro .intro_bot .btn .btn_next {
    left: 15px;
}
.book .book_intro .intro_bot .btn .btn_prev::before,
.book .book_intro .intro_bot .btn .btn_next::before {
    position: absolute;
    top: 9px;
    width: 10px;
    height: 20px;
    background: url(../images/main/btn_arrow.svg) no-repeat center center / contain;
    content: "";
}
.book .book_intro .intro_bot .btn .btn_prev::before {
    left: 13px;
}
.book .book_intro .intro_bot .btn .btn_next::before {
    right: 13px;
    transform: rotate(180deg);
}
.book .book_intro .intro_bot .more {
    margin: 20px 0 0 0;
}
.book .book_intro .intro_bot .more a {
    display: inline-block;
    text-align: center;
}
.book .book_intro .intro_bot .more a span {
    display: block;
    float: left;
    color: #999;
    font-family: "Noto Sans KR";
    transition: 0.5s;
}
.book .book_intro .intro_bot .more a:hover span {
    color: #3d3d3d;
}
.book .book_intro .intro_bot .more a i {
    float: left;
    margin: 1px 0 0 3px;
    font-size: 20px;
    color: #999;
    transition: 0.5s;
}
.book .book_intro .intro_bot .more a:hover i {
    margin: 1px 0 0 10px;
    color: #3d3d3d;
}

@media screen and (max-width:640px){
    .book {
        padding: 40px 0 40px 0;
    }
    .book h2 {
        margin: 0 0 10px 0;
        font-size: 50px;
    }
    .book .swiper {
        width: 100%;
        height: 100%;
      }
    .book .swiper .swiper-slide {
        width: 208px;
        font-size: 20px;
    }
    .book .swiper .swiper-slide a .pic {
        height: 280px;
    }
    .book .book_intro ul li a strong {
        margin: 5px 0;
        overflow: hidden;
        line-height: 1.2;
        height: 1.2em;
    }
    .book .book_intro ul li a span {
        font-size: 13px;
    }
    .book .book_intro .intro_bot {
        margin: 0;
    }
    .book .book_intro .intro_bot .btn {
        margin: 0;
    }
    .book .book_intro .intro_bot .btn .btn_prev,
    .book .book_intro .intro_bot .btn .btn_next {
        top: 0;
        width: 30px;
        height: 30px;
    }
    .book .book_intro .intro_bot .btn .btn_prev {
        right: 5px;
    }
    .book .book_intro .intro_bot .btn .btn_next {
        left: 5px;
    }
    .book .book_intro .intro_bot .btn .btn_prev::before,
    .book .book_intro .intro_bot .btn .btn_next::before {
        top: 3px;
        width: 7px;
        height: 21px;
    }
    .book .book_intro .intro_bot .btn .btn_prev::before {
        left: 10px;
    }
    .book .book_intro .intro_bot .btn .btn_next::before {
        right: 10px;
    }
    .book .book_intro .intro_bot .more {
        margin: 35px 0 0 0;
    }
    .book .book_intro .intro_bot .more a i {
        margin: 2px 0 0 5px;
        font-size: 15px;
    }
    .book .book_intro .intro_bot .more a:hover i {
        margin: 2px 0 0 10px;
    }
}

.process {
    padding: 70px 0 100px 0;
    color: rgba(255, 255, 255, 0.9);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.process[data-bg="bg1"] {
    background-image: url(../images/main/bg1.png);
}
.process[data-bg="bg2"] {
    background-image: url(../images/main/bg2.png);
}
.process[data-bg="bg3"] {
    background-image: url(../images/main/bg3.png);
}
.process[data-bg="bg4"] {
    background-image: url(../images/main/bg4.png);
}
.process[data-bg="bg5"] {
    background-image: url(../images/main/bg5.png);
}
.process[data-bg="bg6"] {
    background-image: url(../images/main/bg6.png);
}
.process h2 {
    margin: 0 0 325px 0;
    font-size: 70px;
}
.process ul {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.process ul li {
    float: left;
    margin: 0;
    width: 233px;
    height: 260px;
    border-left: 1px solid #999;
    font-family: "Noto Sans KR";
}
.process ul li:first-child {
    border-left: 0;
}
.process ul li button {
    width: 100%;
    height: 100%;
}
.process ul li button i {
    font-size: 40px;
}
.process ul li button strong {
    display: block;
    margin: 18px 0 5px 0;
    font-size: 20px;
}
.process ul li button span {
    font-size: 15px;
}
.process ul li .sub_text {
    display: none;
}
.process ul li.active button {
    background-color: rgba(255, 255, 255, 0.8);
    color: #3d3d3d;
}
.process ul li.active .sub_text {
    position: absolute;
    display: block;
    top: 180px;
    left: 95px;
    font-family: "Noto Sans KR";
}
.process ul li.active .sub_text > strong {
    display: inline-block;
    margin: 0 20px 30px 0;
    font-size: 50px;
    font-weight: 700;
}
.process ul li.active .sub_text > strong::after {
    position: absolute;
    top: 38px;
    left: -43px;
    width: 30px;
    height: 1px;
    background-color: #707070;
    content: "";
}
.process ul li.active .sub_text .num {
    position: absolute;
    top: 30px;
    left: -85px;
    font-size: 10px;
    transform: rotate(-90deg);
}
.process ul li.active .sub_text .num strong {
    font-weight: 700;
}
.process ul li.active .sub_text .num span {
    color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width:640px){
    .process {
        padding: 40px 0 40px 0;
    }
    .process h2 {
        margin: 0 0 200px 0;
        font-size: 50px;
    }
    .process ul {
        border: 0;
    }
    .process ul li {
        width: 50%;
        height: 170px;
        border-left: 0;
    }
    .process ul li button strong {
        margin: 18px 0 5px 0;
        font-size: 15px;
    }
    .process ul li button span {
        font-size: 13px;
    }
    .process ul li.active .sub_text {
        top: 130px;
        left: 16px;
    }
    .process ul li.active .sub_text > strong {
        margin: 0 0 10px 0;
        font-size: 30px;
    }
    .process ul li.active .sub_text > strong::after {
        top: -28px;
        left: 43px;
        width: 40px;
        background-color: #fff;
    }
    .process ul li.active .sub_text > span {
        display: none;
    }
    .process ul li.active .sub_text .num {
        top: -35px;
        left: 0;
        transform: rotate(0);
    }
}

.make {
    position: relative;
    height: 480px;
}
.make::before {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: url(../images/main/make_bg.png) no-repeat center center / cover;
    content: "";
}
.make::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: -1;
    background-color: #FBD2BD;
    content: "";
}
.make img {
    float: left;
    margin: 80px 0 0 60px;
    width: 490px;
    height: 340px;
    object-fit: cover;
}
.make .self {
    margin: 180px 0 0 100px;
    float: left;
}
.make .self h2 {
    font-size: 50px;
    font-weight: 700;
}
.make .self strong {
    display: block;
    margin: 15px 0 35px 0;
    font-size: 30px;
    font-family: "Noto Sans KR";
}
.make .self .more {
    position: relative;
    width: 342px;
    height: 64px;
    color: #fff;
    font-family: "Noto Sans KR";
}
.make .self .more::after {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    z-index: 5;
    border: 1px solid #1d1d1d;
    content: "";
}
.make .self .more a {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #1D1D1D;
    transition: 0.5s;
}
.make .self .more a:hover {
    transform: translate(11px, 11px);
}
.make .self .more a span {
    display: block;
    float: left;
    font-size: 25px;
}
.make .self .more a i {
    float: left;
    margin: 2px 0 0 0;
    font-size: 30px;
}

@media screen and (max-width:640px){
    .make {
        height: 320px;
    }
    .make::after {
        display: none;
    }
    .make img {
        display: none;
    }
    .make .self {
        padding: 40px 0 0 16px;
        margin: 0;
        float: none;
    }
    .make .self h2 {
        font-size: 30px;
    }
    .make .self strong {
        margin: 10px 0 30px 0;
        font-size: 20px;
    }
    .make .self .more {
        width: 235px;
        height: 50px;
    }
    .make .self .more a span {
        font-size: 15px;
    }
    .make .self .more a i {
        margin: 0;
        font-size: 25px;
    }
}

.store {
    position: relative;
    height: 610px;
    padding: 70px 0 0 0;
}
.store h2 {
    font-size: 70px;
}
.store .bg_pic {
    position: absolute;
    top: 250px;
}
.store .bg_pic .pic_wrap {
    left: 0;
    overflow: hidden;
    -webkit-animation-name: bg_txt_ani;
            animation-name: bg_txt_ani;
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes bg_txt_ani {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50.05%);
    }
    /*
        무조건 html에서 글자를 동일한 글자를 두 번 입력
        css 애니메이션으로 절반을 이동
        그럼 두 번째 단락의 글자 다시 나타남
    */
}
  
@keyframes bg_txt_ani {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50.05%);
    }
    /*
        무조건 html에서 글자를 동일한 글자를 두 번 입력
        css 애니메이션으로 절반을 이동
        그럼 두 번째 단락의 글자 다시 나타남
    */
}

.store .bg_pic .pic_wrap ul {
    white-space: nowrap;
}
.store .bg_pic .pic_wrap ul li {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    width: 220px;
    height: 220px;
    border-radius: 110px;
}
.store .bg_pic .pic_wrap ul li:nth-child(1),
.store .bg_pic .pic_wrap ul li:nth-child(11) {
    background-color: #D60812;
}
.store .bg_pic .pic_wrap ul li:nth-child(3),
.store .bg_pic .pic_wrap ul li:nth-child(13) {
    background-color: #003975;
}
.store .bg_pic .pic_wrap ul li:nth-child(5),
.store .bg_pic .pic_wrap ul li:nth-child(15) {
    background-color: #906945;
}
.store .bg_pic .pic_wrap ul li:nth-child(7),
.store .bg_pic .pic_wrap ul li:nth-child(17) {
    background-color: #073772;
}
.store .bg_pic .pic_wrap ul li:nth-child(9),
.store .bg_pic .pic_wrap ul li:nth-child(19) {
    background-color: #E53641;
}
.store .bg_pic .pic_wrap ul li:nth-child(2),
.store .bg_pic .pic_wrap ul li:nth-child(4),
.store .bg_pic .pic_wrap ul li:nth-child(6),
.store .bg_pic .pic_wrap ul li:nth-child(8),
.store .bg_pic .pic_wrap ul li:nth-child(10),
.store .bg_pic .pic_wrap ul li:nth-child(12),
.store .bg_pic .pic_wrap ul li:nth-child(14),
.store .bg_pic .pic_wrap ul li:nth-child(16),
.store .bg_pic .pic_wrap ul li:nth-child(18),
.store .bg_pic .pic_wrap ul li:nth-child(20) {
    border: 1px solid #3d3d3d;    
}
.store .bg_pic .pic_wrap ul li img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:640px){
    .store {
        height: 340px;
        padding: 40px 0 0 0;
    }
    .store h2 {
        font-size: 50px;
    }
    .store .bg_pic {
        top: 130px;
    }
    
    .store .bg_pic .pic_wrap ul li {
        margin: 0 9px;
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }
    .store .bg_pic .pic_wrap ul li img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80%;
    }
}