@import url(default.css);
@import url(common.css);
@import url(popup.css);

.visual h2 {
    display: none;
}

.vision {
    position: relative;
    padding: 120px 0 165px 0;
    /* height: 2700px; */
    background: url(../images/main/vision_bg.png) no-repeat center center / cover;
    color: #fff;
}
.vision h2 {
    font-size: 70px;
    font-weight: 700;
    margin: 0 0 150px 0;
}
.vision .inner {
    position: relative;
}
.vision .inner .tit strong {
    position: absolute;
    float: left;
    top: 0;
    left: calc(50% - 700px);
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
}
.vision .inner .tit strong.fixed {
    position: fixed;
    top: 130px;
}
.vision .inner .tit strong.end {
    position: absolute;
    top: auto;
    bottom: 10px;
}
.vision .inner .tit span {
    display: block;
}

.vision .inner .list {
    margin-left: 480px;
}
.vision .inner .list p {
    float: right;
    margin: 0 0 160px 0;
    color: #999999;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}
.vision .inner .list ul {
    margin: 100px 0 0 0;
}
.vision .inner .list ul li {
    width: 360px;
    margin: 0 0 280px 0;
}
.vision .inner .list ul li:nth-child(1),
.vision .inner .list ul li:nth-child(3) {
    float: left;
}
.vision .inner .list ul li:nth-child(3) {
    margin: 0;
}
.vision .inner .list ul li:nth-child(2) {
    float: right;
    margin-top: 380px;
}
.vision .inner .list ul li a {
    display: block;
}
.vision .inner .list ul li a .pic {
    display: block;
    width: 100%;
    height: 535px;
    margin: 0 0 20px 0;
    overflow: hidden;
}
.vision .inner .list ul li a .pic img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vision .inner .list ul li a strong {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
}
.vision .inner .list ul li a span {
    display: block;
    margin: 10px 0 20px 0;
    font-size: 15px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.6);
}
.vision .inner .list ul li a i {
    color: rgba(255, 255, 255, 0.6);
}
.vision .inner .list ul li a:hover i {
    margin-left: 5px;
    transition: 0.5s;
}

@media screen and (max-width:1440px){
    .vision .inner .tit strong {
        left: calc(50% - 600px);
        font-size: 40px;
    }
    .vision .inner .list {
        margin-left: 450px;
    }
    .vision .inner .list p {
        float: right;
        margin: 0 0 140px 0;
    }
    .vision .inner .list ul {
        margin: 70px 0 0 0;
    }

    .vision .inner .list ul li {
        width: 320px;
        margin: 0 0 200px 0;
    }
    .vision .inner .list ul li:nth-child(2) {
        margin-top: 330px;
    }
    .vision .inner .list ul li a .pic {
        width: 320px;
        height: 500px;
        margin: 0 0 20px 0;
    }

}

@media screen and (max-width:1200px){
    .vision h2 {
        font-size: 50px;
        margin: 0 0 100px 0;
    }
    .vision .inner .tit strong {
        left: calc(50% - 500px);
        font-size: 30px;
    }
    .vision .inner .list {
        margin-left: 280px;
    }
    .vision .inner .list p {
        margin: 0 0 80px 0;
        font-size: 18px;
    }
    .vision .inner .list ul {
        margin: 50px 0 0 0;
    }

    .vision .inner .list ul li {
        width: 300px;
        margin: 0 0 100px 0;
    }
    .vision .inner .list ul li:nth-child(2) {
        margin-top: 300px;
    }
    .vision .inner .list ul li a .pic {
        width: 300px;
        height: 450px;
        margin: 0 0 20px 0;
    }
}

@media screen and (max-width:1000px){
    .vision h2 {
        font-size: 40px;
        margin: 0 0 80px 0;
    }
    .vision .inner .tit strong {
        left: calc(50% - 400px);
        font-size: 25px;
    }
    .vision .inner .list {
        margin-left: 140px;
    }
    .vision .inner .list p {
        margin: 0 0 50px 0;
        font-size: 15px;
    }
    .vision .inner .list ul {
        margin: 40px 0 0 0;
    }

    .vision .inner .list ul li {
        width: 280px;
        margin: 0 0 90px 0;
    }
    .vision .inner .list ul li a .pic {
        width: 280px;
        height: 430px;
        margin: 0 0 20px 0;
    }

    .vision .inner .list ul li a strong {
        font-size: 25px;
    }
    .vision .inner .list ul li a span {
        margin: 8px 0 15px 0;
        font-size: 13px;
    }
    .vision .inner .list ul li a i {
        font-size: 20px;
    }
}

@media screen and (max-width:800px){
    .vision h2 {
        font-size: 35px;
        margin: 0 0 50px 0;
    }
    .vision .inner .tit strong {
        left: calc(50% - 330px);
        font-size: 20px;
    }
    .vision .inner .list {
        margin-left: 120px;
    }
    .vision .inner .list p {
        margin: 0 0 40px 0;
    }
    .vision .inner .list ul {
        margin: 30px 0 0 0;
    }

    .vision .inner .list ul li {
        width: 230px;
        margin: 0 0 80px 0;
    }
    .vision .inner .list ul li a .pic {
        width: 230px;
        height: 400px;
        margin: 0;
    }
    .vision .inner .list ul li a span {
        margin: 8px 0 10px 0;
    }
    .vision .inner .list ul li a i {
        font-size: 15px;
    }
}

@media screen and (max-width:640px){
    .vision {
        padding: 40px 0 80px 0;
        /* height: 2700px; */
    }
    .vision h2 {
        display: none;
    }
    .vision .inner .tit {
        float: none;
        margin: 0;
    }
    .vision .inner .tit strong {
        position: relative;
        float: none;
        top: auto;
        left: auto;
        font-size: 25px;
    }
    .vision .inner .tit strong.fixed {
        position: relative;
        top: auto;
    }
    .vision .inner .tit strong.end {
        position: relative;
        bottom: auto;
    }
    .vision .inner .tit strong span {
        display: inline-block;
    }
    .vision .inner .list {
        margin-left: 0;
    }
    .vision .inner .list p {
        float: none;
        display: block;
        width: auto;
        margin: 25px 0 25px 0;
        color: #999999;
        font-size: 13px;
    }

    .vision .inner .list ul {
        margin: 25px 0 0 0;
    }
    .vision .inner .list ul li {
        width: auto;
        margin-bottom: 30px;
    }
    .vision .inner .list ul li:nth-child(1),
    .vision .inner .list ul li:nth-child(3) {
        float: none;
    }
    .vision .inner .list ul li:nth-child(2) {
        float: none;
        margin-top: 0;
    }
    .vision .inner .list ul li a .pic {
        margin: 0 0 10px 0;
        overflow: hidden;
        height: 120px;
        width: auto;
    }
    .vision .inner .list ul li a strong {
        margin: 0;
        font-size: 20px;
    }
    .vision .inner .list ul li a p {
        display: none;
    }
    .vision .inner .list ul li a i {
        display: none;
    }
}

.project {
    padding: 80px 0 50px 0;
}
.project h2 {
    margin: 0 0 20px 0;
    font-size: 70px;
    font-weight: 700;
}
.project .pro_pic ul {
    float: left;
    margin: 0 40px 0 0;
    width: calc(33.3% - 27px);
}
.project .pro_pic ul:last-child {
    margin-right: 0;
}
.project .pro_pic ul li {
    margin: 0 0 74px 0;
}
.project .pro_pic ul li a {
    display: block;
}
.project .pro_pic ul li a .pic {
    display: block;
    overflow: hidden;
}
.project .pro_pic ul li a .pic img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.project .pro_pic ul li a:hover .pic img {
    transform: scale3d(1.2, 1.2, 1);
}
.project .pro_pic ul li a strong {
    padding: 10px 0 0 0;
}

@media screen and (max-width:1200px){
    .project h2 {
        font-size: 50px;
    }
}

@media screen and (max-width:1000px){
    .project {
        padding: 70px 0 40px 0;
    }
    .project .pro_pic ul {
        margin: 0 40px 0 0;
        width: calc(50% - 20px);
    }
    .project .pro_pic ul:nth-child(2) {
        margin-right: 0;
    }
    .project .pro_pic ul:last-child {
        display: none;
    }
    .project .pro_pic ul li {
        margin: 0 0 55px 0;
    }
    
}

@media screen and (max-width:800px){
    .project h2 {
        font-size: 35px;
    }
}

@media screen and (max-width:640px){
    .project {
        padding: 40px 0 30px 0;
    }
    .project h2 {
        margin: 0 0 10px 0;
        font-size: 25px;
    }
    .project .pro_pic ul {
        float: none;
        margin: 0;
        width: auto;
    }
    .project .pro_pic ul li {
        margin: 0 0 50px 0;
        height: 250px;
    }
    .project .pro_pic ul li a .pic {
        height: 250px;
        margin:  0 0 5px 0;
    }
}

.asking {
    height: 380px;
    background: url(../images/main/asking_bg.png) no-repeat center center / cover;
    color: #fff;
    text-align: center;
}
.asking h2 {
    padding: 60px 0 0 0;
    font-size: 45px;
}
.asking p {
    margin: 15px 0 55px 0;
    font-size: 20px;
}
.asking .request {
    text-align: center;
}
.asking a {
    position: relative;
    display: inline-block;
    padding: 13px 0 0 0;
    width: 300px;
    height: 80px;
    border: 1px solid #fff;
    overflow: hidden;
}
.asking a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00A040;
    transform: translateX(-105%);
    transition: 0.5s;
    content: "";
}
.asking a span {
    position: relative;
    z-index: 1;
    font-size: 30px;
}
.asking a:hover::before {
    transform: translateX(0%);
}

@media screen and (max-width:1000px){
    .asking {
        height: 300px;
    }
    .asking h2 {
        padding: 30px 0 0 0;
        font-size: 40px;
    }
    .asking p {
        margin: 15px 0 40px 0;
        font-size: 15px;
    }
    .asking a {
        padding: 12px 0 0 0;
        width: 280px;
        height: 70px;
    }
    .asking a span {
        font-size: 25px;
    }
}

@media screen and (max-width:640px){
    .asking {
        height: 170px;
    }
    .asking h2 {
        padding: 40px 0 15px 0;
        font-size: 20px;
        font-weight: 400;
    }
    .asking p {
        display: none;
    }
    .asking a {
        padding: 3px 0 0 0;
        width: 130px;
        height: 40px;
    }
    .asking a span {
        font-size: 20px;
    }
}
